scikit-learn~=1.4.0
torch~=2.2.0
transformers~=4.37.2
tqdm~=4.66.1
six~=1.16.0
pandas~=2.2.0
numpy~=1.26.3
matplotlib~=3.8.2
seaborn~=0.13.2
datasets~=2.16.1
accelerate~=0.26.1
evaluate~=0.4.1
gradio==4.16.0
sentencepiece~=0.1.99
wandb==0.16.2
sacrebleu==2.4.0
rouge_score==0.1.2
bert_score==0.3.13
rich~=13.7.0
bitsandbytes==0.42.0
peft==0.8.2
chardet==5.2.0 # because of import error for datasets
safetensors~=0.4.2
openai~=1.12.0
tiktoken~=0.6.0

faiss-cpu==1.7.4 #MedRag
python-liquid==1.10.2 #MedRag
langchain==0.0.345 #MedRag
sentence_transformers==2.2.2 #MedRag
pyserini==0.22.1 #MedRag